@font-face {
  font-family: 'NanumEuiMiIssNeunHanGeur';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumEuiMiIssNeunHanGeur/NanumEuiMiIssNeunHanGeur.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumEuiMiIssNeunHanGeur/NanumEuiMiIssNeunHanGeur.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumEuiMiIssNeunHanGeur/NanumEuiMiIssNeunHanGeur.ttf') format('truetype');
}